.item {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 32px) / 3);
  border: 1px solid lightskyblue;
  border-radius: 8px;
  padding: 16px 16px;
}

.text {
  margin-bottom: 8px;
}

.icons {
  display: flex;
  gap: 8px;
  padding: 0 auto;
}
